.popup, .popup-user {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #00000075;
  top: 0;
  left: 0;
  transition: all .3s;
  visibility: hidden;
  opacity: 0;
}

.popup .modal-user, .popup-user .modal-user {
  position: absolute;
  left: 5vw;
  top: 20vh;
  width: 90vw;
  height: 60vh;
  background-color: #fff;
}

.btn:focus {
  box-shadow: none;
}
